{% args device_id %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Credits Page</title>
</head>
<body>
	<div class="header" id="logo">
		<img src="static/duckLogo.png" height=80 alt="Duck Logo">
		<p class="deviceId">{{ device_id }}</p>
	</div>
	<div class="topnav" id="myTopnav">
		<a href="/"> Home</a>
		<a href="/flags">Flags</a>
		<a href="/comms">Comms</a>
		<a href="/respond">Respond</a>
		<a href="/credits" class="active">Credits</a>
	</div>

	<div class="content">
		<section class="logos">
			<a href="https://bsideskrs.no/">
				<img src="static/bsidesLogo.png" alt="BSides Logo">
			</a>
			<a href="https://solasec.io/">
				<img src="static/solasecLogo.png" alt="SolaSec Logo">
			</a>
		</section>
		<!-- <h1>Leaving this here for now: DUCK_CR3DI75_1_01234</h1> -->
		<section class="contributors">
			<div class="container">
				<ul class="credits-list">
					<!-- Contributors will be loaded here by the JavaScript -->
				</ul>
			</div>
		</section>
	</div>

	<script src="js/credits.js"></script>
</body>
</html>