{% args device_id %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Flags Page</title>
	<script src="/js/flags.js"></script>    
</head>
<div class="header" id="logo">
	<img src="static/duckLogo.png" height=80 alt="Duck Logo">
	<p class="deviceId">{{ device_id }}</p>
</div>
<div class="topnav" id="myTopnav">
	<a href="/"> Home</a>
	<a href="/flags" class="active">Flags</a>
	<a href="/comms">Comms</a>
	<a href="/respond">Respond</a>
	<a href="/credits">Credits</a>
</div>
	<div id="flagsContainer"></div> <!-- Flags will be inserted here by JavaScript -->
</body>
</html>