{% args device_id %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Respond Page</title>
	<script src="/js/respond.js"></script> <!-- Link to the external JS file -->
</head>
<body>
	<div class="header" id="logo">
		<img src="static/duckLogo.png" height=80 alt="Duck Logo">
		<p class="deviceId">{{ device_id }}</p>
	</div>
	<div class="topnav" id="myTopnav">
		<a href="/">Home</a>
		<a href="/flags">Flags</a>
		<a href="/comms">Comms</a>
		<a href="/respond" class="active">Respond</a>
		<a href="/credits">Credits</a>
	</div>
	<div class="content">
		<p></p>
		<button id="responseButton" type="button" onclick="triggerResponse()">Respond</button>
		<p id="responseText">Waiting for response initiation...</p>
	</div>
	<div class="fun-fact">
		<strong>Did You Know?</strong> <em>Ducks are highly responsive to each other’s calls—especially in groups. When one duck emits a contact call, nearby ducks often respond in kind, helping the group stay together and coordinate movement. This vocal back-and-forth is crucial for maintaining flock cohesion, particularly in flight or during foraging.</em>
	</div>
</body>
</html>
